.product-img {
  height: 8rem;
  width: 100%;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  ion-row{
    width: 100% !important;
  }
  ion-col {
    display: flex;
    justify-content: center;
    padding: 4px;
  }
  ion-card {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
  }
}

.full-page{
  height: 100vh !important;
  width: 100vw !important;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    height: 10rem;
  }
}